#search tbody tr:hover {
    background: #e0f2f1;
   }

.canceled{
    color: #9e9e9e;
}

.expired{
    color: #b71c1c
}

.treated{
    color: #f57f17;
}

.closed{
    color: #795548
}

.on_treatment{
    color: #01579b
}

.shipped_SKO{
    color: #00bcd4 
}